<div id="navbar">
  <a href="/artists" class="button-1">Browse Artists</a>
  <a href="/artworks" class="button-1">Browse Artworks</a>
  <a href="/users/<%=current_user.slug%>" class="button-1">My Collections</a>
  <a href="/logout" class="button-1">Log Out</a>
</div>

<div class="col clearfix">
  <div class="col-two-third clearfix">
    <h1><%=@collection.name%></h1>
  </div>

  <div id="actionbar" class="col-one-third clearfix">

    <button type="submit" class="button-2">
      <a href="/artworks/new"><i class="material-icons md-18">add_circle</i>Add Artwork</a>
    </button>

    <button type="submit" class="button-2">
      <a href="/collections/<%=@collection.id%>/edit">
        <i class="material-icons md-18">mode_edit</i>Edit Name</a>
    </button>

    <form onsubmit="return confirm('Are you sure you want to delete <%=@collection.name%>?');" class="action" action="/collections/<%=@collection.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button type="submit" class="button-2">
        <i class="material-icons md-18">delete</i>Delete Collection
      </button>
    </form>

  </div>
</div>

<ul>
  <!-- what controller action and route should handle the removal of a single artwork? -->
  <!-- does this mean the collection_artwork item gets removed? -->

<% @collection.artworks.each do |a| %>
    <li>
      <form onsubmit="return confirm('Are you sure you want to delete <%=a.name%> from your collection?');" class="action" action="/artworks/<%=a.id%>/remove" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit" class="icon-button button-2">
          <i class="material-icons md-18">remove_circle</i>
        </button>
      </form>
      &nbsp;<a href="/artworks/<%=a.id%>"><%=a.name%></a>
    </li>
  <%end%>
</ul>
