<div id="navbar">
  <a href="/artists" class="button">Browse Artists</a>
  <a href="/artworks" class="button">Browse Artworks</a>
  <a href="/users/<%=current_user.slug%>" class="button">My Collections</a>
  <a href="/logout" class="button">Log Out</a>
</div>

<p>show a single collection with options to delete or edit</p>


<!-- <div id="actionbar">
  <table>
    <tr>
      <td>
        <h1><%=@collection.name%></h1>
      </td>
      <td>
        <form action="/artworks/new" method="get">
          <button type="submit" class="icon-button">
            <i class="material-icons">add</i><strong>Add Artwork</strong>
          </button>
        </form>
      </td>
      <td>
        <form action="/collections/<%=@collection.id%>/edit" method="get">
          <button type="submit" class="icon-button">
            <i class="material-icons">mode_edit</i><strong>Edit Name</strong>
          </button>
        </form>
      </td>
      <td>
        <form action="/collections/<%=@collection.id%>/delete" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <button type="submit" class="icon-button">
            <i class="material-icons">delete</i><strong>Delete Collection</strong>
          </button>
        </form>
      </td>
    </tr>
  </table>
</div> -->
<h1 class="title"><%=@collection.name%></h1>

<div id="actionbar">
  <table>
    <tr>
      <td>
        <form action="/artworks/new" method="get">
          <button type="submit" class="icon-button">
            <i class="material-icons">add</i><strong>Add Artwork</strong>
          </button>
        </form>
      </td>
      <td>
        <form action="/collections/<%=@collection.id%>/edit" method="get">
          <button type="submit" class="icon-button">
            <i class="material-icons">mode_edit</i><strong>Edit Name</strong>
          </button>
        </form>
      </td>
      <td>
        <form action="/collections/<%=@collection.id%>/delete" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <button type="submit" class="icon-button">
            <i class="material-icons">delete</i><strong>Delete Collection</strong>
          </button>
        </form>
      </td>
    </tr>
  </table>
</div>

<!-- need to figure out how to align the edit buttons on the RHS of the page -->
<!-- eventually want to have the actions on the same line as the collection name -->

<ul>
  <!-- what controller action and route should handle the removal of a single artwork? -->
  <!-- does this mean the collection_artwork item gets removed? -->
<% @collection.artworks.each do |a| %>
    <li>
      <a href="/artworks/<%=a.id%>"><%=a.name%></a>
      <form class="action" action="/artworks/<%=a.id%>/remove" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit" class="icon-button">
          <i class="material-icons">delete</i>
        </button>
    </li>
    </form>
  <%end%>
</ul>
