<div id="navbar">
  <a href="/artists" class="button">Browse Artists</a>
  <a href="/artworks" class="button">Browse Artworks</a>
  <a href="/users/<%=current_user.slug%>" class="button">My Collections</a>
  <a href="/logout" class="button">Log Out</a>
</div>

<h1><%=@artwork.name%></h1>

<br/>
<p><strong>Artist: </strong> <a href="/artists/<%=@artwork.artist.slug%>"><%=@artwork.artist.name%></a></p>
<p><strong>Year(s): </strong><%=@artwork.year%></p>

<hr>

<h3>Update Details</h3>

<form action="/artworks/<%=@artwork.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Name: </label><input type="text" name="name" placeholder="An Artistic Masterpiece">  <br><br/>

  <label>Year: </label><input type="text" name="year" placeholder="1970"><br/>

  <br>

  <label><strong>Artist:</strong></label><br>
  <input type="radio" name="artist" value="">New Artist <input type="text" name="artist" placeholder="name"><br />
  <%Artist.all.each do |a|%>
  <input type="radio" name="artist" value="<%=a.name%>" <%='checked' if @artwork.artist.name == a.name%>><%=a.name%></input><br />
  <%end%>

  <br>

  <input type="submit" value="Update Artwork">
</form>
