<h1>Add a new artwork to your collection</h1>

<form action="/artworks" method="post">
  <!-- <%Artwork.all.each do |a|%>
  <input type="radio" name="collection[artwork_ids][]" value="<%=a.id%>"> <%=a.name%><br />
  <%end%> -->

  <label>Name: </label><input type="text" name="name" placeholder="An Artistic Masterpiece" required>  <br><br/>

  <label>Year: </label><input type="text" name="year" placeholder="1970"><br/>

  <br><br/>

  <label><strong>Choose an artist:</strong></label><br><br/>
  <input type="radio" name="artist" value="">New Artist <input type="text" name="artist" placeholder="name"><br />
  <%Artist.all.each do |a|%>
  <input type="radio" name="artist" value="<%=a.name%>"><%=a.name%></input><br />
  <%end%>

  <br><br/>

  <input id="hidden" type="hidden" name="collection_id" value="<%=@collection.id%>">
  <!-- eventually need to figure out how to hide the collection number so that it's obscured from the user -->

  <input type="submit" value="Add Artwork">
</form>
