<h1>Add an artwork to your collection</h1>
<br>
<p>If you wish to add an existing artwork to our collection, please select one from the drop down menu below.<br>
  Otherwise, please fill out the information to add a new artwork to the community database and your collection.</p>

<h3>Choose an existing artwork</h3>
<form action="/artworks" method="post">
  <select name="artwork_id" type="text" required>
    <option disabled selected value> -- select an artwork -- </option>
    <% @available_artworks.each do |a| %>
      <option value="<%=a.id%>"> <%=a.name%> by <%=a.artist.name unless a.artist.name.nil?%></option>
    <% end %>
  </select>

  <input type="submit" value="Add Artwork">
</form>

<br>

<h3>Or if you would like to add a new artwork then please enter in the following information:</h3>
<form action="/artworks" method="post">
  <label>Name: </label><input type="text" name="artwork[name]" placeholder="The Fountain"> <br>
  <label>Year(s): </label><input type="text" name="artwork[year]" placeholder="1970-1972"> <br>
  <label>Artist: </label> <input type="text" name="artwork[artist]" placeholder="Caravaggio"> or
  <select name="artist[name]" type='text'>
    <option disabled selected value> -- select an artist -- </option>
    <%Artist.all.each do |a|%>
      <option value="<%=a.name%>"> <%=a.name%> </option>
    <% end %>
    <option value="Unknown"> Unknown </option>
  </select>

  <input type="submit" value="Add Artwork">
</form>
