<div id="navbar">
  <a href="/artists" class="button">Browse Artists</a>
  <a href="/artworks" class="button">Browse Artworks</a>
  <a href="/collections/new" class="button">New Collection</a>
  <a href="/logout" class="button">Log Out</a>
</div>

<h1>Welcome <%=current_user.username%>!</h1>

<% if current_user.collections.empty?%>
  <br/>
  <p>You don't have any collections yet!</p>

<%else%>
  <ul>
    <% current_user.collections.all.each do |c| %>
      <li>
        <strong>
          <a href="/collections/<%=c.id%>"><%=c.name%></a>
        </strong>
        <!-- <small>
          <form action="/collections/<%=c.id%>/edit" method="get">
            <input type="submit" value="Edit">
          </form>
          <form action="/collections/<%=c.id%>/delete" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
          </form>
        </small> -->
      </li>
    <%end%>
  </ul>
<%end%>
